<a href="/">
  <div class="my-headshot"></div>
</a>
<div class="about-me">
  <h1>
    Ben Drucker <a href="http://twitter.com/bendrucker" target="_blank" rel="me">@bendrucker</a>
  </h1>
  <h2>
    Founder and developer of <a href="http://www.valet.io" title="Event fundraising tools for causes">Valet.io</a>.<br><a href="http://www.bdrucker.com" title="Ben Drucker Photography - Maplewood, New Jersey">Photographer</a>, <a href="http://github.com/bendrucker">coder</a>, designer. Also: fitness and productivity geek.
  </h2>
</div>