// Page grid
max-container-width = 38.75em

// Colors
header-background-color = #F4F4F4
header-border-color = darken(header-background-color, 5%)

link-primary-color = #6BA5D6
link-secondary-color = #598BB5

// Type
default-font-family = 'calluna-sans', sans-serif
default-font-weight = 400
default-font-size = 16px

// Media query breakpoints
small-screen-size = 768px
large-screen-size = 1280px

small = '(min-width: ' + small-screen-size + ')'
large = '(min-width: ' + large-screen-size + ')'