// Page grid
max-container-width = 42em

// Colors
header-background-color = #F4F4F4
header-border-color = darken(header-background-color, 5%)

title-text-color = #2B2927
subtitle-text-color = lighten(title-text-color, 10%)
subtle-text-color = #9D9D9D

link-primary-color = #6BA5D6
link-secondary-color = #598BB5

// Buttons

button-background-color = #bbb
button-text-color = #222

// Type
default-font-family = 'calluna-sans', sans-serif
default-font-weight = 400
default-font-size = 16px

// Media query breakpoints
small-screen-size = 479px
medium-screen-size = 767px
large-screen-size = 1279px
huge-screen-size = 1649px


small = '(min-width: ' + small-screen-size + ')'
medium = '(min-width: ' + medium-screen-size + ')'
large = '(min-width: ' + large-screen-size + ')'
huge = '(min-width: ' + huge-screen-size + ')'

max-small = '(max-width: ' + small-screen-size + ')'
max-medium = '(max-width: ' + medium-screen-size + ')'
max-large = '(max-width: ' + large-screen-size + ')'
max-huge = '(max-width: ' + huge-screen-size + ')'