body
	font-family: default-font-family
	font-weight: default-font-weight
	font-size: default-font-size

h1, h2, h3, h4, h5, h6
	color: title-text-color

h1
	font-size: 2em

h2
	font-size: 1.5em

h3
	font-size: 1.25em

h4
	font-size: 1.1em