.btn
	font-size: 1.1em
	font-weight: 900

	font-style: normal

	text-align: center

	padding: .75em
	margin: .5em 0

	background: button-background-color
	color: button-text-color

	border-radius: 3px

	i
		position: relative
		top: .2em
		margin-left: .5em
