@import nib

global-reset()
reset-html5()

*
	box-sizing: border-box

@import includes

.content-wrap
	max-width: max-container-width
	margin: 0 auto

a
	text-decoration: none
	color: link-primary-color

	&:hover
		color: link-secondary-color

