.page-footer
	background: header-background-color
	border-top: 2px solid header-border-color

	margin-top: 1em

	.content-wrap
		clearfix()

	.copyright
		float: left
	.source
		float: right
		i
			position: relative
			top: .15em
			margin-left: .25em