.page-header
	background-color: header-background-color
	border-bottom: 1px solid header-border-color

	.content-wrap
		clearfix()

	border-bottom: 1px solid header-border-color

.my-headshot
	// Center on portrait mobile viewport
	margin: 0 auto
	margin-bottom: .5em

	width: 75px
	height: 75px
	
	background: #fff
	image: '/images/ben-drucker-sq.png' 75px 75px

	border-radius: 3px

	box-shadow: 0 1px 2px 0 rgba(#444, .25)

.about-me
	font-size: 1em

	text-align: center
	margin: 0 auto

	h1
		font-weight: 700
		margin-bottom: .25em
		font-size: 1.75em

		color: #434855

		a
			// Display block on mobile
			display: block
			font-weight: 300
			font-size: .65em

	h2
		font-size: 1em
		font-weight: 300
		line-height: 1.25em
		color: subtle-text-color

minimal-header-view()
	.content-wrap
		spacing = .5em
		padding-top: spacing
		padding-bottom: spacing
	.my-headshot
		float: left
		margin: 0
		margin-right: 1em

		avatar-size = 50px

		width: avatar-size
		height: avatar-size

		background-size: avatar-size avatar-size

	.about-me
		text-align: left
		float: left
		margin: 0

		h1
			margin: 0

		h2
			display: none

body.single-post
	minimal-header-view()