.primary-nav
	text-align: center
	.nav-items
		list-style: none
		clearfix()

		display: inline-block
	.nav-item
		float: left
		margin: 0 .25em
		padding: .5em .75em

		color: link-primary-color
		border: 2px solid link-primary-color

		border-radius: 40px

		i
			position: relative
			top: .1em
			margin-right: .25em

.nav-divider
	width: 50%
	border: 1px solid header-border-color

	margin: 0 auto