.posts
	.post
		display: block

		spacing = 1em

		padding-bottom: spacing
		margin: spacing 0

		border-bottom: 2px solid header-border-color

		&:last-child
			border: none

	.post-title
		font-size: 1em
		margin-bottom: .25em

		width: 90%

	.post-date
		display: inline
		margin-left: .25em

	.post-headline
		font-size: 1.25em
		display: inline

	.post-subtitle
		font-style: normal
		font-size: 1em
		margin: 0