.posts
	.post
		display: block

		spacing = 1em

		padding-bottom: spacing
		margin: spacing 0

		border-bottom: 2px solid header-border-color

		&:last-child
			border: none

	.post-title
		font-size: 1em
		margin-bottom: .25em

	.post-headline
		font-size: 1.25em
		display: inline
		margin-right: .25em

	.post-date
		display: inline
		white-space: nowrap

	.post-subtitle
		font-style: normal
		font-size: 1em
		margin: 0

@media small
	.posts
		font-size: 1.25em
@media large
	.posts
		font-size: 1.5em