.post-title
	margin-top: .75em

.post-headline
	margin-bottom: .1em

	font-weight: 900
	color: title-text-color

.post-subtitle
	color: subtitle-text-color
	font-style: italic
	font-size: 1.2em

.post-date
	font-size: .8em
	color: #9D9D9D

.post-body
	padding: 1em 0

	h1, h2, h3, h4, h5, h6
		margin: .5em 0

	h2
		font-weight: 900

	h3, h4, h5, h6
		font-weight: 700

	p
		font-size: 1.1em

		line-height: 1.5em
		padding-bottom: .75em
		hyphens: auto

		&:last-child
			padding: 0

	blockquote
		font-style: italic
		margin: 1em 0

		@media small
			border-left: .5em solid link-primary-color
			padding-left: 1.5em

	hr
		width: 50%
		outline: none
		border: 1px solid header-border-color

		margin-bottom: 1.5em

	img
		display: block
		margin: 0 auto
		max-width: 100%

	sup
		vertical-align: super
		font-size: .83em

.footnotes
	ol
		list-style: decimal inside
	li
		font-size: .8em

.share-buttons

	width: 100%

	.post-date
		font-size: 1.25em
		font-weight: 700

		color: darken(header-background-color, 20%)

		text-align: center
		margin-bottom: 1em

	padding: 1em

	background: header-background-color
	border: 2px solid header-border-color
	border-left: none
	border-right: none

	.btn
		display: block
		font-size: 1.2em

	.tweet-btn
		twitter-color = #00AEED
		background: twitter-color

		color: white
		text-shadow: 0 1px 1px rgba(black, .1)

		border: 1px solid darken(twitter-color, 5%)
		box-shadow: inset 1px -1px 1px 0 rgba(white, .2), -1px 1px 1px 0 rgba(black, .1)
		
	.email-btn
		base-color = #e2e2e2
		background: base-color

		color: #222
		text-shadow: 0 1px 1px white

		border: 1px solid darken(base-color, 5%)
		box-shadow: inset 1px -1px 1px 0 rgba(white, .2), -1px 1px 1px 0 rgba(black, .05)